@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 240, 240, 245;
  --font-color: 65, 65, 77;
}

body {
  background-color: rgb(var(--background-color));
  color: rgb(var(--font-color));
  /* background-color: rbg(240, 240, 245, 1); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
